

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: url("/public/images/dark-bg.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1, h2 {
  font-family: 'Bree Serif', serif;
}
