/* navbar */
nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 20%;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: sticky;
  top: 0;
  z-index: 1;
}

nav p {
  display: inline-block;
  margin: 0;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

.navbar-icons {
  margin-right: 10px;
  vertical-align: middle;
}

nav a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 10px;
}

nav a:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

@media (min-width: 480px) and (max-width: 767px) {
  nav ul li p {
    display: none;
  }

  .navbar-icons {
    margin: 0;
  }
}

@media (max-width: 480px) {
  nav p {
    display: none;
  }

  .navbar-icons {
    margin: 0;
  }
}